:root {
    --info-bar-color: green;
    --window-color: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--window-color);

    height: 100vh;
}

#game {

    display: flex;
    flex-direction: column;
}

#info-bar {
    background-color: var(--info-bar-color);

    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info {

    background-color: white;

    height: 75px;
    width: 150px;

    margin: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}


